<%- include header %>
<section class="content-wrap">
  <div class="container">
    <div class="row">
      <main class="col-md-8 col-md-offset-2 main-content"> 
      <article class="post"> 
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>
<div class="post-head"> 
 <h2 class="post-title"><%= post.title %></h2>
<div class="post-meta">
<span class="author"> 作者：<a href="/u/<%= post.name %>"><%= post.name %></a> </span> •
<span class="post-date"> 日期：<%= post.time.minute %></span>•
<span class="kinds">类别：<a href="#"><%= post.kinds %></a></span>
</div>
</div>
<% if (user && (user.name == post.name)) { %>
<div class="post-meta"><a class="edit" href="/edit/<%= post._id %>">编辑</a> 
     <a class="edit" href="/remove/<%= post._id %>">删除</a> </div>

<% } %>

<div class="post-content"><%- post.post %></div>
<p>标签：
  <% post.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
    <a class="tag" href="/tags/<%= tag %>"><%= tag %></a> 
    <% } %>
  <% }) %></p>
<p class="info">
  阅读：<%= post.pv %> 
</p>


</article>
</main>
</div>
</div>
</section>
<%- include footer %>