<br />
<% post.comments.forEach(function (comment, index) { %>
  <div style="padding-left:4em">
    <p><img src="<%= comment.head %>" class="l_head" /><a href="<%= comment.website %>"><%= comment.name %></a>
    <span class="info"> 回复于 <%= comment.time %></span></p>
    <p><%- comment.content %></p>
  </div>
<% }) %>

<div class="post-head"> 
<div class="post-meta">
<form method="post">
<% if (user) { %>
<div class="form-group">
  <span >姓名：<input type="text" name="name" value="<%= user.name %>" />
  邮箱：<input type="text" name="email" value="<%= user.email %>" />
  网址：<input type="text" name="website" value="/p/<%= post._id %>" /></span></div>
<% } else { %>
  <span >姓名：<input type="text" name="name" />
  邮箱：<input type="text" name="email" />
  网址：<input type="text" name="website" value="http://" /></span>
<% } %>
  <textarea name="content" rows="5" cols="80" class="form-control"></textarea><br />
  <input type="submit" value="留言" class="btn btn-warning" />
</form>
</div>
</div>